APP_NAME = Track
APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=sendmail
MAIL_HOST=localhost

NOCAPTCHA_SECRET=6Lca-BMTAAAAACxz0th5LhysupUiM7FUVC0k6si8
NOCAPTCHA_SITEKEY=6Lca-BMTAAAAAAuY_in5f1A7k2VCvkgWjs8aLr0c