.login-wrapper {
    overflow: hidden;
    width: 100%;
    background: #515974;
    background: linear-gradient(to bottom, #515974, #dc8018);
}
.login-warp {
    overflow: hidden;
    width: 100%;
    min-height: 800px;
    height: 100vh;
    //background: url(../img/login/login_bg.jpg) no-repeat center, url(../img/login/login_bg_srtip.png) repeat-x 0px 0px;
    background: url(../img/login/login_bg.jpg) no-repeat center 0;
}
.login-cont {
    width: 510px;
    overflow: hidden;
    margin: 0 auto;
    //background: #fff;
}
.login-header {
    overflow: hidden;
    p {
        overflow: hidden;
        color: $white-color;
        text-align: center;
        font-family: 'robotolight';
        font-size: 18px;
        &.login-logo {
            margin: 68px 0 11px;
        }
    }
}
.textEdit-wrap {
    overflow: hidden;
    margin: 55px 0 0;
    //padding-bottom: 30px;
   
}
.textBox-wrap {
    overflow: hidden;
    background: #fff;
    margin: -4px 0 0;
    padding: 0 50px 0;
    height: 294px;
    p {
        text-align: center;
        margin: 0 0 30px;
        input {
            width: 350px;
            padding: 17px 0;
            font-family: 'robotoregular';
            text-align: center;
            border: none;
            background: none;
            color: $gray-color;
            border-bottom: 1px solid #dcdee3;
            &:focus {
                border-bottom: 1px solid $gray-color;
            }
        }
    }
    .text-reset {
        margin: 28px 0 15px;
        font-size: 20px;
        font-family: 'robotomedium';
    }
    .text-seprte {
        display: block;
        span {
            width: 37px;
            height: 2px;
            background: #515974;
            display: block;
            margin: 0 auto;
        }
    }
}
.text-extra {
    overflow: hidden;
    padding-top: 20px;
    position: relative;
    p {
        text-align: left;
        float: left;
        input {
            width: auto;
        }
        label {
            text-decoration: underline;
            font-size: 16px;
            font-family: 'robotoregular';
        }
        &.btn-forget {
            float: right;
            a {
                text-decoration: underline;
                color: #ff8a00;
                font-size: 16px;
            }
        }
    }
}
.btn-login {
    overflow: hidden;
    text-align: center; 
    position: relative;
    top: -30px;
    a {
        display: block;
        width: 150px;
        padding:19px 0 17px;
        color: $white-color;
        background: #ff8a00;
        text-align: center;
        border-bottom: 3px solid #884a01;
        margin: 0 auto;
        font-family: 'robotomedium';
        &:hover {
            background: #884a01;
            text-decoration: none;
        }
    }
}
.textEdit-forget {
    overflow: hidden;
    position: absolute;
    width: 100%;
    left: 0;
    .login_ico_bg {
        background: url(../img/login/login_forget_top.png) repeat-x 0 46px;
        text-align: center;
    }
    .text-extra {
        width: 350px;
    }
    .textBox-wrap {
        padding: 0 77px 78px;
    }
}
.btn-confirm {
    @extend.btn-login;
    position: absolute;
    top: 621px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

/* Signin */
.login-cont input.txt-input {
    margin: 30px 25px;
    width: 350px;
    display: block;
    border: none;
    padding: 10px 0;
    border-bottom: solid 1px #dcdee3;
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-linear-gradient(top, rgba(81, 89, 116, 0) 96%, #515974 4%);
    background: linear-gradient(to bottom, rgba(81, 89, 116, 0) 96%, #515974 4%);
    background-position: -350px 0;
    background-size: 350px 100%;
    background-repeat: no-repeat;
    color: #515974;
}

input.txt-input:focus, input.txt-input:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
}
input.txt-input::-webkit-input-placeholder {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
input.txt-input::-moz-placeholder {
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

input.txt-input:focus::-webkit-input-placeholder, input.txt-input:valid::-webkit-input-placeholder{
    color: #515974;
    font-size: 11px;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    visibility: visible !important;
}
input.txt-input:focus::-moz-placeholder, input.txt-input:valid::-moz-placeholder {
    color: #515974;
    font-size: 11px;
    -moz-transform: translateY(-20px);
    transform: translateY(-20px);
    visibility: visible !important;
}

#sign-form label.error {
    color: #FB3A3A;
    display: inline-block;
    margin: 4px 0 5px 125px;
    padding: 0;
    text-align: left;
    width: 220px;
}