#user_left_menu_cont .table > thead > tr > th,
#user_left_menu_cont .table > tbody > tr > th, 
#user_left_menu_cont .table > tfoot > tr > th, 
#user_left_menu_cont .table > thead > tr > td, 
#user_left_menu_cont .table > tbody > tr > td, 
#user_left_menu_cont .table > tfoot > tr > td,
#user_left_menu_cont .table
{
  padding: 2px;
  margin:0px;

  border: none;
  /*border-left: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;*/
}
.border_left
{
	border-left: 1px solid #e7e7e7 !important;
}
.border_right
{
	border-right: 1px solid #e7e7e7 !important;
}
.border_top
{
  border-top: 1px solid #e7e7e7 !important;
}
.border_bottom
{
  border-bottom: 1px solid #e7e7e7 !important;
}
.rotate_90_right {    
  -webkit-transform: rotate(90deg); 
     -moz-transform: rotate(90deg); 
      -ms-transform: rotate(90deg); 
       -o-transform: rotate(90deg); 
          transform: rotate(90deg);
}

.rotate_90_left {    
  -webkit-transform: rotate(-90deg); 
     -moz-transform: rotate(-90deg); 
      -ms-transform: rotate(-90deg); 
       -o-transform: rotate(-90deg); 
          transform: rotate(-90deg);
}
.scroll_horizontal
{
	overflow-y: scroll;
	max-height: 450px;
	min-height: 200px;
}
.margin_top_20
{
	margin-top: 20px;
}
.margin_top_10
{
	margin-top: 10px;
}
.loading
{
	padding: 100px;
}
.active_flag
{
  color: green;
}
.inactive_flag
{
  color : red;
}
.glyphicon-refresh-animate {
-animation: spin .7s infinite linear;
-ms-animation: spin .7s infinite linear;
-webkit-animation: spinw .7s infinite linear;
-moz-animation: spinm .7s infinite linear;
}
 
@keyframes spin {
from { transform: scale(1) rotate(0deg);}
to { transform: scale(1) rotate(360deg);}
}
@-webkit-keyframes spinw {
from { -webkit-transform: rotate(0deg);}
to { -webkit-transform: rotate(360deg);}
}
 
@-moz-keyframes spinm {
from { -moz-transform: rotate(0deg);}
to { -moz-transform: rotate(360deg);}
}