.error
{
	color: red;
}
/*for autocomplete plugin*/
.ui-autocomplete
{
	 z-index: 1041 !important;
}
/*for date plugin*/
.ui-front
{
	z-index: 9002 !important;
}
.removeabsent,.markabsent
{
	background: #4d7dc5 url("../images/close_45.png") no-repeat scroll left top / contain ;
    border: medium none;
    cursor: pointer;
    display: inline-block;
    height: 23px;
    width: 23px;
}
.nextMinutePaper .removeMoreBtn
{
	display: block;
    float: left;
    padding-top: 10px;
}
#startDateInput, #endSateInput,.dateInput, .nextDateInput
{
	width: 114px;
	height: 35px;
}
.nextMinutePaper .minuteItemRight select
{
	margin: 5px 0 5px 0;
}
.nextMinutePaper input
{
	height: 35px;
}
.nextMinutePaper .minuteItemNumber
{
	margin-top: 0px !important;
}
.nextMinutePaper .minuteItemLeft h5
{
	margin-top: 0px !important;
	margin-bottom: 10px;
	height: 32px;
}
.nextMinutePaper .minuteItemLeft h5 input
{
	height: 32px;
}
.taskDiv
{
	 border-top: 1px solid #cdcdcd;
    margin-top: 20px;
    padding-bottom: 20px;
    padding-top: 30px;
}
.attendees, .absentees
{
	height:30px;
	/*width: 130px;*/
	float:left;
}
.attendeesLable, .absenteesLable
{
	border-bottom: 1px solid #cdcdcd;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.button
{
	background: #77bad9 none repeat scroll 0 0;
    border: 1px solid #67abcb;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    height: 35px;
    padding: 0 10px;
}
.createMeeting .paperBorder
{
	height: 700px;
    overflow-y: scroll;
    position: relative;
}
.createMeeting .popupMinutes
{
	width: 100%;
}